.benchmarks/
.idea/
__pycache__/
algorithms-preglobal.py
algorithms-preprune.py
algorithms-prerefactor.py
*-predicted.csv
*-actual.csv
*-cache.csv
RawData/20M-kaggle/
RawData/beanman.txt
RawData/33M-grouplens.zip
RawData/33M-grouplens/genome-scores.csv
RawData/33M-grouplens/genome-vectors.csv
RawData/33M-grouplens/genome-vectors-split.csv
RawData/33M-grouplens/ratings.csv
RawData/33M-grouplens/tags.csv
RawData/33M-grouplens/links.csv
RawData/33M-grouplens/movies.csv
RawData/33M-grouplens/README.txt
SelectedData/.idea/
SelectedData/__pycache__/
SelectedData/*.csv
